
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Parking karte</title>
	<base href="">
</head>
<body>
	<form method="post" action="/Parking/ParkingKarte/Create">
		<table>
			<tr><td>Registarska oznaka vozila</td><td><input type="text" name="registarskaOznakaVozila"/></td></tr>
			<tr><td>Početak parkinga</td><td><input type="text" name="pocetakParkinga"/></td></tr>
			<tr><td>Trajanje u minutima</td><td><input type="text" name="trajanjeUMinutama"/></td></tr>
			<tr>
				<td>Osoba sa invaliditetom</td>
				<td>
					<input type="radio" name="osobaSaInvaliditetom" value="DA"/> DA
					<input type="radio" name="osobaSaInvaliditetom" value="NE"/> NE
				</td>
			</tr>
			<tr>
				<td>Zona</td>
				<td>
					<select name="zonaId">
						<option value="1">bela</option>
						<option value="2">plava</option>
						<option value="3">crvena</option>
					</select>
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
	<hr/>
	<table>
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zona</th>
		</tr>
		<th:block th:each = "it : ${parkingKarte}">
		<tr>
			<td th:text = "${it.registracija}">SO 123 456</td>
			<td th:text = "${it.pocetakParkinga}">2019-12-18 10:30:00</td>
			<td align="right" th:text = "${it.trajanjeUMinutima}">130</td>
			<td th:text = "${it.osobaSaInvaliditetom}">DA</td>
			<td th:text = "${it.zona.naziv}">crvena</td>
		</tr>
		</th:block>
	</table>
	<br>
	<span>Ukupne zarađene sume novca za sve parking karte: </span>
	<span th:text = "${ukupnaCena}"></span>
	<br>
	<br>
	<table>
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zona</th>
		</tr>
		<th:block th:each = "it : ${session.korisnik}">
		<tr>
			<td th:text = "${it.registracija}">SO 123 456</td>
			<td th:text = "${it.pocetakParkinga}">2019-12-18 10:30:00</td>
			<td align="right" th:text = "${it.trajanjeUMinutima}">130</td>
			<td th:text = "${it.osobaSaInvaliditetom}">DA</td>
			<td th:text = "${it.zona.naziv}">crvena</td>
		</tr>
		</th:block>
	</table>
</body>
</html>